
@media screen and (min-width: 320px ) {
    .header {
        background: url('../../image/header1.png');
        min-height: 360px;
        max-width: 320px;
    }
}
@media screen and (min-width: 768px ) {
    .header {
        background-image: url('../../image/header2.png');
        min-height: 810px;
        max-width: 768px;
    }
}
@media screen and (min-width: 1440px ) {
    .header {
        background: url('../../image/head.png');
        max-width: 1440px;
    }
}